@import "tailwindcss";


/* *{
    border: .1rem solid red;
} */

/* <div
        className={` flex-1 basis-[300px] ${
          item.id % 2 === 0 ? "md:-mt-100" : ""
        }`}>
        <span className="flex justify-center items-center mx-auto text-6xl w-12 h-12 bg-zinc-800 text-white rounded-full outline-[3px] outline-dashed outline-zinc-800 outline-offset-6 ">
          {item.number}
        </span>
        <div className="flex gap-x-5 items-center mt-5">
          <span className="flex justify-center items-center bg-gradient-to-b from-orange-400 to-orange-500 text-2xl text-white w-13 h-13 rounded-full">
            {item.icon}
          </span>

          <div className="flex-1">
            <h4 className="text-zinc-800 text-2xl font-bold">{item.title}</h4>
            <p className="text-zinc-600 mt-2">{item.para}</p>
          </div>
        </div>
      </div> */
